doctype html
html
    head
        title QUIZ
        style
            include main.css
        
    body
        main
            .col
                h2 Allgemein
                .row(data-id=11)
                    .dot
                        h3 20
                .row(data-id=12)
                    .dot
                        h3 40
                .row(data-id=13)
                    .dot
                        h3 60
                .row(data-id=14)
                    .dot
                        h3 80
                .row(data-id=15)
                    .dot
                        h3 100
            .col
                h2 Groz-Beckert
                .row(data-id=21)
                    .dot
                        h3 20
                .row(data-id=22)
                    .dot
                        h3 40
                .row(data-id=23)
                    .dot
                        h3 60
                .row(data-id=24)
                    .dot
                        h3 80
                .row(data-id=25)
                    .dot
                        h3 100
            .col
                h2 K
                .row(data-id=31)
                    .dot
                        h3 20
                .row(data-id=32)
                    .dot
                        h3 40
                .row(data-id=33)
                    .dot
                        h3 60
                .row(data-id=34)
                    .dot
                        h3 80
                .row(data-id=35)
                    .dot
                        h3 100
            .col
                h2 IT
                .row(data-id=41)
                    .dot
                        h3 20
                .row(data-id=42)
                    .dot
                        h3 40
                .row(data-id=43)
                    .dot
                        h3 60
                .row(data-id=44)
                    .dot
                        h3 80
                .row(data-id=45)
                    .dot
                        h3 100
            .col
                h2 D
                .row(data-id=51)
                    .dot
                        h3 20
                .row(data-id=52)
                    .dot
                        h3 40
                .row(data-id=53)
                    .dot
                        h3 60
                .row(data-id=54)
                    .dot
                        h3 80
                .row(data-id=55)
                    .dot
                        h3 100
            .col
                h2 Azubis
                .row(data-id=61)
                    .dot
                        h3 20
                .row(data-id=62)
                    .dot
                        h3 40
                .row(data-id=63)
                    .dot
                        h3 60
                .row(data-id=64)
                    .dot
                        h3 80
                .row(data-id=65)
                    .dot
                        h3 100
            .col
                h2 Schätzfrage
                .row(data-id=71)
                    .dot
                        h3 20
                .row(data-id=72)
                    .dot
                        h3 40
                .row(data-id=73)
                    .dot
                        h3 60
                .row(data-id=74)
                    .dot
                        h3 80
                .row(data-id=75)
                    .dot
                        h3 100
            .col
                h2 Gesichter
                .row(data-id=81)
                    .dot
                        h3 20
                .row(data-id=82)
                    .dot
                        h3 40
                .row(data-id=83)
                    .dot
                        h3 60
                .row(data-id=84)
                    .dot
                        h3 80
                .row(data-id=85)
                    .dot
                        h3 100


        .pane(id=11)
            .close Schließen
            .question Welche Bundesländer hat Deutschland?
            .show 
                p Antwort Zeigen
                .answer  BW, Bayern, Hessen, NRW, Rheinlandpfalz, Thüringen, Sachsen, Sachsen Anhalt, Niedersachsen, Schleswig Holstein, Bremen, Hamburg, Berlin, Brandenburg, Saarland, Mecklenburg Vorpommern
        .pane(id=12)
            .close Schließen
            .question Wie heißt unser Bundespräsident?
            .show 
                p Antwort Zeigen
                .answer Frank-Walther Steinmeier
        .pane(id=13)
            .close Schließen
            .question 
            .show 
                p Antwort Zeigen
                .answer  
        .pane(id=14)
            .close Schließen
            .question Wie heißt die Bundeshauptstadt von Kanada?
            .show 
                p Antwort Zeigen
                .answer Ottawa
        .pane(id=15)
            .close Schließen
            .question Welche Länder sitzen im G20?
            .show 
                p Antwort Zeigen
                .answer China, Japan, Deutschlad, Frankreich, Brasilien, UK, Italien, Russland, Kanada, Indien, Australien, Mexiko, Südkorea, Indonesien, Türkei, Saudi-Arabien, Argentinien, Südafrika
        .pane(id=21)
            .close Schließen
            .question Nenne die vier Werte von GB
            .show 
                p Antwort Zeigen
                .answer inovativ | seriös | qualitätsbewusst | fair & partnerschaftlich
        .pane(id=22)
            .close Schließen
            .question Was verbirgt sich hinter dem Kürzel Z-MD?
            .show 
                p Antwort Zeigen
                .answer Digital Units

        .pane(id=23)
            .close Schließen
            .question Was fertigt die Abteilung CPC?
            .show 
                p Antwort Zeigen
                .answer  Stanzwerkzeuge
        .pane(id=24)
            .close Schließen
            .question Nenne die Schulungsräume im TEZ 2.OG
            .show 
                p Antwort Zeigen
                .answer  Hofasa, Litespeed, Vosa, Gebedur, Gebecon, Gebeswitch, Posileno 
        .pane(id=25)
            .close Schließen
            .question In welcher Reihenfolge stehen die Kategorien auf dem Foodplan?
            .show 
                p Antwort Zeigen
                .answer  
                    ol 
                        li Suppe
                        li Salate & Vorspeisen
                        li Tagesgericht
                        li Cook's Finest
                        li Fleischlos und reizlos
                        li Grillbar
                        li AKTUELL
                        li Dessert

        .pane(id=31)
            .close Schließen
            .question 
            .show 
                p Antwort Zeigen
                .answer  
        .pane(id=32)
            .close Schließen
            .question  
            .show 
                p Antwort Zeigen
                .answer  
        .pane(id=33)
            .close Schließen
            .question Wie viele verschiedene Produkte hat der Bereich K?
            .show 
                p Antwort Zeigen
                .answer  
        .pane(id=34)
            .close Schließen
            .question Wie heißt die kleinste Nadel?
            .show 
                p Antwort Zeigen
                .answer  Bera
        .pane(id=35)
            .close Schließen
            .question  
            .show 
                p Antwort Zeigen
                .answer  
        .pane(id=41)
            .close Schließen
            .question Was heißt IT ausgeschrieben?
            .show 
                p Antwort Zeigen
                .answer Information Technology
        .pane(id=42)
            .close Schließen
            .question DHCP ausgeschrieben?
            .show 
                p Antwort Zeigen
                .answer  Dynamic Host Configuration Protocol
        .pane(id=43)
            .close Schließen
            .question Welches Symbol erscheint beim drücken der Tastenkombination 
              kbd Alt
              |  + 
              kbd 3
              |  ?              
            .show 
                p Antwort Zeigen
                .answer  Ein Herz
        .pane(id=44)
            .close Schließen
            .question Welches G-Präfix hat Belgien?
            .show 
                p Antwort Zeigen
                .answer  
        .pane(id=45)
            .close Schließen
            .question Das wievielte Bit im IP-Header ist das Evil-Bit?
            .show 
                p Antwort Zeigen
                .answer Das 51. Bit. Das Evil-Bit ist ein Aprilscherz
        .pane(id=51)
            .close Schließen
            .question Wieviele Kardex-Türme stehen im Hauptlager
            .show 
                p Antwort Zeigen
                .answer 8 
        .pane(id=52)
            .close Schließen
            .question Wie viel Rasenfläche hat GB?
            .show 
                p Antwort Zeigen
                .answer  
        .pane(id=53)
            .close Schließen
            .question Wer ist Spartenleiter von D?
            .show 
                p Antwort Zeigen
                .answer  Bernhard Seufert
        .pane(id=54)
            .close Schließen
            .question  
            .show 
                p Antwort Zeigen
                .answer  
        .pane(id=55)
            .close Schließen
            .question  
            .show 
                p Antwort Zeigen
                .answer  
        .pane(id=61)
            .close Schließen
            .question Wann und wo war man das letzte mal auf der ITMA?
            .show 
                p Antwort Zeigen
                .answer  Mailand 2015
        .pane(id=62)
            .close Schließen
            .question Welcher Azubi aus dem zweiten Lehrjar startete seine Ausbildung erst 6 Monate später als die anderen?
            .show 
                p Antwort Zeigen
                .answer  Daniel Weber
        .pane(id=63)
            .close Schließen
            .question Weit wann gibt es die Azubifirma
            .show 
                p Antwort Zeigen
                .answer 2010
        .pane(id=64)
            .close Schließen
            .question Wie alt ist aktuell der älteste GB-Azubi?
            .show 
                p Antwort Zeigen
                .answer 30
        .pane(id=65)
            .close Schließen
            .question 
            .show 
                p Antwort Zeigen
                .answer  
        .pane(id=71) 
            .close Schließen
            .question Wie viele Einwohner hat Europa?
            .show 
                p Antwort Zeigen
                .answer 743,1 Mio
        .pane(id=72)
            .close Schließen
            .question Wie weit ist die Erde von der Sonne entfernt? (km)
            .show 
                p Antwort Zeigen
                .answer 1AE = 149.600.000 km
        .pane(id=73)
            .close Schließen
            .question Wie viele Server (VM) hat GB? 
            .show
                p Antwort Zeigen
                .answer 650
        .pane(id=74)
            .close Schließen
            .question Wie weit ist Albstadt von DaNang entfernt?
            .show
                p Antwort Zeigen
                .answer  9347,4 km
        .pane(id=75)
            .close Schließen
            .question Wie groß ist der Durchmesser der Erde?
            .show 
                p Antwort Zeigen
                .answer 40.075 km
        .pane(id=81)
            .close Schließen
            .question 
              img(src="./img/face3.jpg")
            .show 
                p Antwort Zeigen
                .answer  
        .pane(id=82)
            .close Schließen
            .question  
              img(src="./img/Bild1.jpg")
            .show 
                p Antwort Zeigen
                .answer Volker Bantle
        .pane(id=83)
            .close Schließen
            .question 
              img(src="./img/wagner.jpg")
            .show 
                p Antwort Zeigen
                .answer  Sandro Wagner
        .pane(id=84)
            .close Schließen
            .question 
              img(src="./img/melania.jpg")
            .show 
                p Antwort Zeigen
                .answer  Melania Trump
        .pane(id=85)
            .close Schließen
            .question 
              img(src="./img/ungetuem.jpg")
            .show 
                p Antwort Zeigen
                .answer  Prof. Dr. Dr. Dr. h.c. Michael Ungethüm
    
        .joker
            .close Schließen
            h1 Joker
            img(src="img/joker.png")


        footer
            .points.left
                p(data-points="0") 0
                .addpoints.p20(data-points="20") 20
                .addpoints.p40(data-points="40") 40
                .addpoints.p60(data-points="60") 60
                .addpoints.p80(data-points="80") 80
                .addpoints.p100(data-points="100") 100

            .points.right
                p(data-points="0") 0
                .addpoints.p20(data-points="20") 20
                .addpoints.p40(data-points="40") 40
                .addpoints.p60(data-points="60") 60
                .addpoints.p80(data-points="80") 80
                .addpoints.p100(data-points="100") 100
            .points.topright
                p(data-points="0") 0
                .addpoints.p20(data-points="20") 20
                .addpoints.p40(data-points="40") 40
                .addpoints.p60(data-points="60") 60
                .addpoints.p80(data-points="80") 80
                .addpoints.p100(data-points="100") 100

        script(src="./jquery-3.2.1.min.js")
        script(src="./main.js")
        

            
                
